ol,ul {
    list-style: none
}

.mainCol {
    width: 1170px;
    margin: 0 auto;
    min-height: 800px
}

.hide {
    display: none
}

.show {
    display: block
}

a:hover {
    color: #666
}

.csdn-toolbar {
    height: 40px;
    background: #f6f6f6!important;
    border-bottom: 1px solid #dfdfdf
}

.csdn-toolbar .container {
    width: 1140px
}

.csdn-toolbar .loginlink {
    background: 0 0!important
}

.padding15px {
    padding: 0 15px
}

.ernav {
    background-color: #333;
    width: 100%;
    height: 52px
}

.ernav .logo {
    background: url(../images/web/logo.png) top center no-repeat;
    width: 100px;
    height: 28px;
    float: left;
    margin-top: 12px
}

.ernav .navs {
    float: left;
    height: 52px;
    margin-left: 10px
}

.ernav .navs li {
    font-size: 16px;
    float: left
}

.ernav .navs li .ahot {
    position: relative
}

.ernav .navs li .ahot:before {
    content: "hot";
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background-color: #ff5a00;
    font-size: xx-small;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    padding: 0 5px;
    animation: navNew .4s linear infinite;
    -moz-animation: navNew .4s linear infinite;
    -webkit-animation: navNew .4s linear infinite;
    -o-animation: navNew .4s linear infinite
}

.ernav .navs li a {
    color: #eee;
    padding: 0 30px;
    line-height: 52px;
    display: inline-block;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out
}

.ernav .navs li .curoot,.ernav .navs li .my_knowledge:hover {
    color: #e49938
}

.ernav .navs li .my_knowledgewrap {
    position: relative;
    z-index: 10
}

.ernav .navs li .my_knowledge {
    position: relative;
    width: auto!important;
    margin-top: 0!important
}

.ernav .navs li .my_knowledge i {
    position: absolute;
    width: 5px;
    height: 5px;
    display: block;
    background-color: #f94b4b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    top: 35%;
    right: 20px
}

.ernav .navs li .my_knowledge .fa-angle-down {
    width: auto;
    height: auto;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    right: 14px;
    top: 40%
}

.ernav .navs li .submenu {
    position: absolute;
    top: 52px;
    left: 22px;
    background-color: #1f1f1f;
    padding: 10px 15px 15px;
    width: 101px;
    display: none
}

.ernav .navs li .submenu:before {
    border: 5px solid #1f1f1f;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -10px;
    left: 45%;
    content: "";
    width: 0;
    height: 0
}

.ernav .navs li .submenu li {
    padding: 5px 0;
    border-bottom: 1px solid #2e2e2e;
    float: none;
    width: 100%;
    text-align: center;
    position: relative
}

.ernav .navs li .submenu li a {
    color: #fff;
    font-size: 14px;
    padding: 0;
    line-height: normal
}

.ernav .navs li .submenu li a:hover {
    color: #e49938
}

.ernav .navs li .submenu li a i {
    position: absolute;
    width: 5px;
    height: 5px;
    display: block;
    background-color: #f94b4b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    top: 50%;
    left: -3px
}

.ernav .navs li .submenu .noborder {
    border: none
}

.ernav .navs .most a em {
    margin-right: 6px
}

.ernav .navs .most a .fa {
    vertical-align: middle;
    margin-top: -8px
}

.ernav .listmenus {
    display: none;
    background-color: #212121;
    position: absolute;
    padding: 20px 5px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    z-index: 1000
}

.ernav .listmenus ul {
    float: left;
    border-right: 1px solid #333;
    padding: 0 25px
}

.ernav .listmenus ul li {
    padding-bottom: 15px
}

.ernav .listmenus ul li a {
    color: #fff;
    padding: 0;
    font-size: 14px
}

.ernav .listmenus ul .lastli {
    padding-bottom: 0
}

.ernav .listmenus .lastul {
    border: none
}

.ernav .allicons {
    float: right;
    height: 33px;
    margin-top: 9px;
    position: relative;
    width: 272px;
    z-index: 5
}

.ernav .allicons .nav_search {
    width: 272px;
    height: 33px;
    background-color: #fff;
    padding: 0 0 0 10px;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000
}

.ernav .allicons .nav_search label {
    float: left;
    width: 230px;
    margin-bottom: 0
}

.ernav .allicons .nav_search label input {
    width: 230px;
    height: 33px;
    border: none;
    outline: 0;
    color: #333;
    font-size: 14px
}

.ernav .allicons .nav_search label .gray {
    color: #bbb
}

.ernav .allicons .nav_search .searchbtn {
    float: right;
    position: relative;
    margin-right: 5px;
    margin-top: 1px;
    width: 22px;
    height: 30px;
    text-align: center
}

.ernav .allicons .nav_search .searchbtn input {
    background: rgba(255,0,0,0);
    border: none;
    outline: 0;
    width: 22px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 5px
}

.ernav .allicons .nav_search .searchbtn .fa-search {
    color: #ea9d38;
    font-size: 18px;
    margin-top: 6px;
    margin-right: 22px
}

.ernav .allicons .nav_search .search_list {
    border: 1px solid #ddd;
    padding: 2px;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 10000;
    width: 100%;
    display: none
}

.ernav .allicons .nav_search .search_list .resultp {
    font-size: 14px;
    color: #333;
    padding: 0 20px;
    display: block
}

.ernav .allicons .nav_search .search_list .resultp:hover {
    background-color: #eff3f5;
    color: #ea9d38
}

.ernav .allicons .nav_search .search_list .resultp span {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding: 5px 0;
    word-wrap: break-word;
    position: relative
}

.ernav .allicons .nav_search .search_list .resultp span em {
    word-wrap: break-word;
    width: 185px;
    display: inline-block
}

.ernav .allicons .nav_search .search_list .resultp span .fa {
    color: #bbb;
    font-size: 15px
}

.ernav .allicons .nav_search .search_list .resultp span .fa-clock-o {
    margin-right: 10px;
    vertical-align: top;
    margin-top: 2px
}

.ernav .allicons .nav_search .search_list .resultp span .fa-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px
}

.ernav .allicons .nav_search .search_list .hotsearch,.ernav .allicons .nav_search .search_list .hotsearchall {
    color: #999;
    font-size: 12px;
    padding: 5px 20px;
    display: block
}

.ernav .allicons .nav_search .search_list .hotsearch:hover,.ernav .allicons .nav_search .search_list .hotsearchall:hover {
    background-color: #eff3f5;
    color: #ea9d38
}

.ernav .allicons .nav_search .search_list .hotsearchall {
    display: none;
    word-wrap: break-word
}

.ernav .allicons .nav_search .search_list .hotsearchall a {
    color: #999
}

.ernav .allicons .nav_search .search_list .alltext {
    font-size: 12px;
    text-align: left;
    background-color: #f7f7f7;
    padding: 5px 20px;
    border-top: 1px solid #f7f7f7;
    margin-left: -3px;
    width: 272px;
    display: none
}

.ernav .allicons .nav_search .search_list .alltext a {
    color: #333
}

.ernav .allicons .nav_search .search_list .listkeys {
    margin-top: 5px;
    margin-bottom: 10px
}

.ernav .allicons .nav_search .search_list .listkeys li a {
    color: #333;
    font-size: 14px;
    display: block;
    padding: 5px 20px;
    line-height: normal;
    word-wrap: break-word
}

.ernav .allicons .nav_search .search_list .listkeys li a:hover {
    background-color: #eff3f5
}

.ernav .allicons .nav_search .search_list .listkeys li a:hover .stext em {
    color: #ea9d38
}

.ernav .allicons .nav_search .search_list .listkeys li a .simg {
    float: left;
    width: 40px
}

.ernav .allicons .nav_search .search_list .listkeys li a .simg img {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #eff3f5
}

.ernav .allicons .nav_search .search_list .listkeys li a .stext {
    float: left;
    width: 175px;
    margin-left: 10px
}

.ernav .allicons .nav_search .search_list .listkeys li a .stext em {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    display: block
}

.ernav .allicons .nav_search .search_list .listkeys li a .stext b {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 5px
}

.ernav .allicons .nav_search .search_list .listkeys .tuwens,.ernav .allicons .nav_search .search_list .searchku {
    display: none
}

.ernav .allicons .nav_search .search_list .listkeys li a .stext b i {
    font-style: normal;
    color: #333;
    font-weight: 400
}

.ernav .allicons .nav_search .search_list .listkeys .tuwens a {
    padding: 10px 20px
}

.ernav .allicons .nav_search .search_list .searchku .hotsearch,.ernav .allicons .nav_search .search_list .searchku .resultp {
    font-size: 12px;
    color: #333
}

.ernav .allicons .nav_search .search_list .searchku .hotsearch:hover,.ernav .allicons .nav_search .search_list .searchku .resultp:hover {
    background-color: #eff3f5;
    color: #ea9d38
}

.ernav .allicons .nav_search .search_list .searchdefault .resultp:hover {
    color: #333
}

.ernav .allicons .nav_search .search_list .searchdefault .hotsearch:hover {
    background-color: #fff;
    color: #999
}

.ernav .allicons .tj_btn {
    float: right;
    font-size: 14px;
    color: #fff;
    border: 1px solid #ea9d38;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-left: 20px;
    margin-top: 2px;
    display: none
}

.ernav .allicons .tj_btn:hover {
    background-color: #ea9d38
}

.csdn-toolbar .login-wrap .search {
    display: none!important
}

@-ms-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-moz-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-webkit-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@-o-keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

@keyframes navNew {
    0%,100% {
        top: 10px
    }

    50% {
        top: 11px
    }
}

.banner_div {
    height: 132px;
    width: 100%;
    margin-bottom: 20px
}

.banner_div .mainCol {
    min-height: inherit
}

#alink {
    position: absolute;
    left: 0;
    top: 0;
    width: 1207px;
    height: 400px;
    background: #fff;
    opacity: 0;
    z-index: 4
}

.csdn-pagination {
    text-align: center;
    margin: 40px auto
}

.csdn-pagination .btn {
    border: 1px solid #ccc;
    color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height: 25px;
    min-width: 25px;
    line-height: 20px;
    background: 0 0;
    margin: 0 2px
}

.csdn-pagination .btn:hover {
    color: #7b7b7b;
    background-color: snow
}

.csdn-pagination .active,.csdn-pagination .active:hover {
    color: #fff;
    border: 1px solid #ccc
}

.csdn-pagination .page-nav b {
    font-style: normal;
    font-size: 12px;
    color: #7b7b7b;
    font-weight: 400;
    margin-right: 10px;
    display: inline-block
}

.csdn-pagination .page-nav b i {
    color: #333;
    font-style: normal;
    font-weight: 400
}

.page1 .btn:hover {
    border: 1px solid #4d4b3e
}

.page1 .active,.page1 .active:hover {
    background: #4d4b3e
}

.page2 .btn:hover {
    border: 1px solid #039ac5
}

.page2 .active,.page2 .active:hover {
    background: #039ac5
}

.page3 .btn:hover {
    border: 1px solid #85b120
}

.page3 .active,.page3 .active:hover {
    background: #85b120
}

.page4 .btn:hover {
    border: 1px solid #251f1f
}

.page4 .active,.page4 .active:hover {
    background: #251f1f
}

.page5 .btn:hover {
    border: 1px solid #f26b33
}

.page5 .active,.page5 .active:hover {
    background: #f26b33
}

.whitebk {
    background-color: #fff
}

.editcollects {
    width: 460px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc
}

.editcollects .layer02 {
    position: relative
}

.editcollects .layer02 .closec {
    color: #bbb;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 16px
}

.editcollects .layer02 .layer02top {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd
}

.editcollects .layer02 .layer02top em {
    font-size: 16px;
    color: #333
}

.editcollects .layercontent {
    padding: 0 20px
}

.editcollects .layercontent .layertop {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 40px 0
}

.editcollects .layercontent .layertop .fa-check-circle {
    color: #91d63c
}

.editcollects .layercontent .layertop .fa-question-circle {
    color: #3c97d6
}

.editcollects .layercontent .layertop .fa {
    font-size: 80px;
    display: block;
    margin-bottom: 15px
}

.editcollects .layercontent .layertop em {
    font-size: 16px;
    color: #333
}

.editcollects .layercontent .layerbottom .one {
    font-size: 12px;
    color: #999;
    margin-top: 20px
}

.editcollects .layercontent .layerbottom .one span {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-color: #b1dfff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle
}

.editcollects .layercontent .layerbottom .one span .fa {
    vertical-align: middle;
    font-size: 12px;
    margin-top: -5px;
    color: #fff
}

.editcollects .layercontent .layerbottom .mylists {
    margin-top: 23px
}

.editcollects .layercontent .layerbottom .mylists span {
    color: #666;
    font-size: 12px;
    margin-right: 10px
}

.editcollects .layercontent .layerbottom .mylists a {
    display: inline-block;
    border: 1px solid #e5eaf0;
    color: #666;
    padding: 3px 6px;
    margin-right: 15px;
    margin-bottom: 15px
}

.editcollects .layercontent .layerbottom .mylists .root {
    border-color: #eb9d38
}

.editcollects .layercontent .layerbottom .two {
    margin-top: 5px
}

.editcollects .layercontent .layerbottom .two .fa {
    color: #3d7ca8;
    margin-right: 5px
}

.editcollects .layercontent .layerbottom .two input[type=text] {
    border: 1px solid #eb9d38;
    width: 100%;
    outline: 0;
    resize: none;
    padding: 5px;
    background-color: #f9f9fc;
    display: none
}

.editcollects .layercontent .layerbottom .two a {
    color: #3d7ca8
}

.header_top .numtext,.header_top .text {
    color: #fff;
    text-align: center
}

.editcollects .layercontent .lastbtns {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f2f2f5;
    margin-left: -20px;
    width: 110%;
    text-align: center
}

.editcollects .layercontent .lastbtns .addbtn {
    background-color: #eb9d38
}

.editcollects .layercontent .lastbtns .cancelbtn {
    background-color: #b8b8bd
}

.editcollects .layercontent .lastbtns .addbtn,.editcollects .layercontent .lastbtns .cancelbtn {
    margin: 0 5px;
    color: #fff;
    width: 60px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.blank_10px,.blank_20px,.blank_25px,.blank_30px {
    clear: both;
    line-height: normal;
    font-size: 0
}

.noborder {
    border: none!important
}

body {
    background-color: #f3f5f8;
    font-family: Microsoft Yahei
}

.whitebk {
    background: #fff
}

.setborder {
    border: 1px solid #cad1e0;
    -webkit-box-shadow: 0 0 4px 0 #b8c3d9;
    -moz-box-shadow: 0 0 4px 0 #b8c3d9;
    -o-box-shadow: 0 0 4px 0 #b8c3d9;
    -ms-box-shadow: 0 0 4px 0 #b8c3d9;
    box-shadow: 0 0 4px 0 #b8c3d9
}

.pos {
    position: relative
}

.blank_10px {
    height: 10px
}

.blank_20px {
    height: 20px
}

.blank_25px {
    height: 25px
}

.blank_30px {
    height: 30px
}

.w50 {
    width: 50%
}

.w296px {
    width: 296px
}

.w830px {
    width: 830px
}

.kn_left {
    float: left
}

.kn_right,.rhtitle a {
    float: right
}

.header_top .banner {
    background: url(../images/web/newimgs/newbanner.jpg) top center no-repeat;
    height: 165px;
    background-size: cover;
    width: 100%
}

.header_top .text {
    font-size: 26px;
    padding-top: 60px
}

.header_top .centermiddle {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    height: 165px
}

.header_top .linkbtn {
    display: block;
    width: 1140px;
    height: 165px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.header_top .numtext .text {
    display: block;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 10px
}

.header_top .numtext .num {
    background: url(../images/web/newimgs/numberbj.png) top center no-repeat;
    display: inline-block;
    width: 38px;
    height: 40px;
    color: #333;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin: 0 1px
}

.rhtitle {
    font-size: 14px;
    color: #4c5c7f;
    letter-spacing: 1px;
    font-weight: 700
}

.kn_couml .kn_d_top .title a,.rhtitle a {
    color: #2092d9
}

.rhtitle a {
    font-size: 12px
}

.imphoto {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px
}

.kn_couml {
    padding: 30px;
    overflow: hidden;
}

.kn_couml .kn_right {
    width: 92%;
    padding-left: 20px;
}

.kn_couml .picture {
    display: inline-block;
    height: 80px;
    width: 80px
}

.kn_couml .picture img {
    max-width: 100%
}

.kn_couml .kn_d_top {
    height: 62px
}

.kn_couml .kn_d_top .title {
    color: #2092d9;
    font-size: 16px
}

.kn_couml .kn_d_top .title em {
    color: #666;
    font-size: 12px
}

.kn_couml .kn_d_top .title em i {
    color: #b8c3d9;
    font-style: normal
}

.kn_couml .kn_d_top .titleopt a {
    display: inline-block;
    font-size: 14px;
    margin-left: 25px
}

.kn_couml .kn_d_top .titleopt .ahome {
    color: #f4a921
}

.kn_couml .kn_d_top .titleopt .ahome .fa {
    margin-right: 5px
}

.kn_couml .kn_d_top .titleopt .aedit,.kn_couml .kn_d_top .titleopt .asee {
    color: #7c89a6
}

.kn_couml .kn_d_bottom a {
    display: inline-block;
    font-size: 14px;
    color: #7c89a6;
    margin-right: 30px
}

.menuL .menubox .iless,.menuL .menubox .iplus {
    margin-right: 5px;
    width: 6px;
    height: 6px;
    display: inline-block
}

.kn_couml .kn_d_bottom a .fa {
    font-size: 14px;
    margin-right: 5px
}

.spantitle {
    font-size: 14px;
    color: #4c5c7f;
    letter-spacing: 0;
    padding: 20px 20px 10px
}

.spantitle a {
    color: #2092d9
}

.treenew {
    position: relative
}

.listDragSortParent {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 22px
}

.listDragSortParent .listDragSortTrigger {
    width: 40px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #b8c3d9;
    outline: 0;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #4c5c7f;
    padding: 0
}

.menuL {
    padding: 18px 20px;
    min-height: 400px
}

.menuL .menubox li {
    position: relative;
    border-left: 3px solid #e6f4ff;
    padding: 0 15px 15px 0
}

.menuL .menubox li .whiteblank {
    width: 7px;
    height: 12px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -5px;
    top: 0
}

.menuL .menubox li .whiteblank .cirle {
    display: block;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 2px;
    background-color: #4c5c7f
}

.menuL .menubox li a {
    position: relative;
    top: -9px;
    font-weight: 700;
    font-size: 14px;
    left: 6px;
    color: #4c5c7f;
    display: block;
    text-indent: 4px;
    padding: 6px 0;
    margin-left: 5px
}

.menuL .menubox li a em {
    color: #4c5c7f;
    font-weight: 700
}

.menuL .menubox li a:hover {
    color: #4c5c7f;
    background: #e6f4ff
}

.menuL .menubox li .subul {
    margin-left: 15px;
    display: none
}

.menuL .menubox li .subul li {
    border: none;
    padding: 8px 0 0;
    position: relative
}

.menuL .menubox li .subul li a {
    font-weight: 400;
    left: 0
}

.menuL .menubox li .subul li a span {
    color: #4c5c7f;
    margin-left: -8px
}

.menuL .menubox .licur .root,.menuL .menubox li .subul li .root {
    color: #4085ab
}

.menuL .menubox li .subul li a em {
    font-size: 20px;
    position: relative;
    left: -13px
}

.menuL .menubox li:last-child {
    padding-bottom: 0;
    border-color: transparent
}

.menuL .menubox .licur {
    border-color: #4085ab
}

.menuL .menubox .licur .whiteblank .cirle {
    background-color: #4085ab
}

.menuL .menubox .ligray .whiteblank .cirle {
    background-color: #999
}

.menuL .menubox .curgray,.menuL .menubox .curgray em,.menuL .menubox .curgray span,.menuL .menubox .curgray:hover {
    color: #b8c3d9!important
}

.menuL .menubox .iplus {
    background-color: #2092d9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle
}

.menuL .menubox .iless {
    border: 1px solid #7c89a6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle
}

.menuL .menubox .roots {
    background: #e6f4ff!important
}

.kn_list {
    min-height: 200px;
    padding: 20px
}

.kn_list .listuls {
    margin-top: 20px
}

.kn_list .listuls li {
    border-bottom: 1px solid #e4e9f3;
    padding: 10px 0;
    position: relative
}

.kn_list .listuls li .text {
    float: left;
    width: 625px
}

.kn_list .listuls li .text a:hover {
    color: #2092d9
}

.kn_list .listuls li .text a {
    margin: 0!important;
    font-size: 13px;
    color: #b8c3d9
}

.kn_list .listuls li .text a .fa {
    display: inline-block;
    margin-right: 5px
}

.kn_list .listuls li .opt {
    float: right;
    position: relative;
    display: none;
    width: 20%;
    text-align: right
}

.kn_list .listuls li .opt .opedits {
    margin: 0;
    width: 80px;
    text-align: right;
    position: relative
}

.kn_list .listuls li .opt .opedits .editbtn {
    font-size: 14px;
    color: #819dab
}

.kn_list .listuls li .opt .opedits .listspan {
    position: absolute;
    width: 162px;
    margin: 0;
    right: 0;
    top: 22px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 4px #ccc;
    -moz-box-shadow: 1px 1px 4px #ccc;
    -o-box-shadow: 1px 1px 4px #ccc;
    -ms-box-shadow: 1px 1px 4px #ccc;
    box-shadow: 1px 1px 4px #ccc;
    color: #d9e5eb;
    padding: 3px 5px;
    z-index: 5;
    display: none
}

.kn_list .listuls li .opt .opedits .listspan:before {
    border: 5px solid #e3e3e3;
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    position: absolute;
    top: -11px;
    right: 8px
}

.kn_list .listuls li .opt .opedits .listspan:after {
    border: 5px solid #fff;
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    position: absolute;
    top: -10px;
    right: 8px
}

.kn_list .listuls li .opt .opedits .listspan a {
    display: inline-block;
    color: #819dab;
    font-size: 14px;
    margin: 0 10px
}

.kn_list .listuls li .opt .opedits .listspan .delete {
    color: #d82929
}

.optbtns .sharebtn,.optbtns a {
    color: #526e7d;
    font-size: 12px;
    margin: 0 0 0 10px
}

.optbtns .sharebtn em,.optbtns a em {
    color: #b8c3d9
}

.optbtns .sharebtn .fa,.optbtns a .fa {
    color: #526e7d;
    font-size: 13px;
    margin: 0 5px
}

.optbtns .sharebtn .fa-tianjia,.optbtns a .fa-tianjia {
    background: url(../images/web/newimgs/tianjiay.gif) left center no-repeat;
    width: 15px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px
}

.optbtns .sharebtn {
    position: relative;
    display: inline-block
}

.optbtns .sharebtn .shareall {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 80px;
    height: 40px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.optbtns .sharebtn .shareall:before {
    border: 5px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    position: absolute;
    top: -10px;
    left: 40px;
    z-index: 2
}

.optbtns .sharebtn .shareall:after {
    border: 5px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    position: absolute;
    top: -11px;
    left: 40px
}

.optbtns .sharebtn .shareall a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 6px 5px!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff!important;
    text-align: center;
    line-height: 24px
}

.optbtns .sharebtn .shareall a .fa {
    color: #fff!important;
    vertical-align: sub
}

.optbtns .sharebtn .shareall .weibo {
    background-color: #f77766
}

.optbtns .sharebtn .shareall .weibo:hover {
    background-color: #ce3e2b
}

.optbtns .sharebtn .shareall .weixin {
    background-color: #59c051
}

.optbtns .sharebtn .shareall .weixin:hover {
    background-color: #2b9023
}

.optbtns .fa-tianjia {
    background: url(../images/web/newimgs/tianjiay.gif) left center no-repeat;
    width: 15px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px
}

.optbtns .ysharebtn .fa-tianjia {
    background: url(../images/web/newimgs/ytianjia.gif) left center no-repeat!important
}

.optbtns .ysharebtn em {
    color: #bbb
}

.addopts a {
    display: inline-block;
    font-size: 14px;
    color: #159ede;
    margin-left: 20px
}

.addopts a .fa {
    color: #159ede;
    font-size: smaller;
    margin-right: 5px
}

.kn_list .listuls li .opt a {
    margin: 0
}

.optbtns .sharebtn {
    z-index: inherit
}

.optbtns .sharebtn .shareall {
    left: -7px;
    top: 23px;
    z-index: 2
}

.kn_importlist {
    display: none;
    border: 1px solid #cad1e0;
    -webkit-box-shadow: 0 0 4px 0 #b8c3d9;
    -moz-box-shadow: 0 0 4px 0 #b8c3d9;
    -o-box-shadow: 0 0 4px 0 #b8c3d9;
    -ms-box-shadow: 0 0 4px 0 #b8c3d9;
    box-shadow: 0 0 4px 0 #b8c3d9;
    width: 604px;
    margin-left: -302px
}

.addknowledgecontent,.editknowledgecontent,.knowledgecontentmove {
    -webkit-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc
}

.kn_importlist .layer02top {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd
}

.kn_importlist .layer02top em {
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 700
}

.kn_importlist .layer02top .closec {
    color: #666;
    font-size: 18px
}

.kn_importlist .pinfort {
    text-align: center;
    height: 29px;
    line-height: 29px
}

.kn_importlist .pinfort span {
    font-size: 12px
}

.kn_importlist .pinfort span .fa {
    font-size: 14px;
    margin-right: 5px
}

.kn_importlist .successinfor {
    background-color: #eaf3e1;
    border: 1px solid #d2e6c8
}

.kn_importlist .successinfor span {
    color: #4a883e
}

.kn_importlist .successinfor span .fa {
    color: #6eaa00
}

.kn_importlist .errorinfor {
    background-color: #fff0f0;
    border: 1px solid #ffd2d2
}

.kn_importlist .errorinfor span {
    color: #b74d46
}

.kn_importlist .errorinfor span .fa {
    color: #dc3c00
}

.kn_importlist .layerwrap {
    padding: 20px;
    height: 340px
}

.kn_importlist .layerwrap .tab {
    display: block
}

.kn_importlist .layerwrap .tab a {
    font-size: 14px;
    color: #7c89a6;
    background-color: #f3f5f8;
    display: inline-block;
    line-height: 26px;
    height: 26px;
    text-align: center;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px
}

.kn_importlist .layerwrap .tab .root {
    background-color: #159ede;
    color: #fff
}

.kn_importlist .layerwrap .tabcontent {
    height: 230px
}

.kn_importlist .layerwrap .tabcontent .noresult {
    font-size: 14px;
    color: #333;
    padding: 20px;
    text-align: center;
    min-height: 100px
}

.kn_importlist .layerwrap .tabcontent .selectcheck {
    margin-top: 20px
}

.kn_importlist .layerwrap .tabcontent .selectcheck li {
    margin: 10px 0
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span {
    display: inline-block
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span .check {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #f3f5f8;
    border: 1px solid #d8dee6;
    vertical-align: middle;
    margin-right: 10px;
    padding: 2px
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span .check i {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #f3f5f8
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span .checkroot {
    border: 1px solid #159ede
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span .checkroot i {
    background-color: #159ede
}

.kn_importlist .layerwrap .tabcontent .selectcheck li span em {
    font-size: 14px;
    color: #333
}

.kn_importlist .layerwrap p.page {
    text-align: center
}

.kn_importlist .layerwrap p.page a {
    display: inline-block;
    font-size: 14px;
    color: #7c89a6;
    margin: 0 10px
}

.kn_importlist .layerwrap p.page .root {
    color: #159ede
}

.kn_importlist .import_btns {
    background-color: #f2f2f5;
    height: 50px;
    line-height: 50px;
    text-align: center
}

.kn_importlist .import_btns a {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    width: 68px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px
}

.kn_importlist .import_btns .importbtn {
    background-color: #159ede
}

.kn_importlist .import_btns .cancelbtn {
    background-color: #909098
}

.addknowledgecontent,.editknowledgecontent {
    display: none;
    width: 538px;
    margin-left: -269px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px #ccc
}

.addknowledgecontent .layer02top,.editknowledgecontent .layer02top {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
    color: #333
}

.addknowledgecontent .layer02top em,.editknowledgecontent .layer02top em {
    font-size: 16px;
    color: #333
}

.addknowledgecontent .layerwrap,.editknowledgecontent .layerwrap {
    padding-top: 20px
}

.addknowledgecontent .layerwrap .inputs,.editknowledgecontent .layerwrap .inputs {
    padding: 10px 15px
}

.addknowledgecontent .layerwrap .inputs input,.editknowledgecontent .layerwrap .inputs input {
    border: 1px solid #dce4eb;
    width: 450px;
    height: 32px;
    background-color: #f8fafc;
    outline: 0;
    padding: 0 5px
}

.addknowledgecontent .layerwrap .inputs label,.editknowledgecontent .layerwrap .inputs label {
    color: #333;
    font-size: 14px;
    margin-right: 8px
}

.addknowledgecontent .layerwrap .inputs .error,.editknowledgecontent .layerwrap .inputs .error {
    font-size: 12px;
    color: #e06363;
    margin-left: 50px;
    margin-top: 10px;
    display: none
}

.addknowledgecontent .layerwrap .inputs .error .fa,.editknowledgecontent .layerwrap .inputs .error .fa {
    color: #e06363;
    display: inline-block;
    margin-right: 5px
}

.addknowledgecontent .layerwrap .pbottom,.editknowledgecontent .layerwrap .pbottom {
    background-color: #f2f2f5;
    height: 50px;
    text-align: center
}

.addknowledgecontent .layerwrap .pbottom a,.editknowledgecontent .layerwrap .pbottom a {
    display: inline-block;
    width: 60px;
    height: 26px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 12px 5px 0 0;
    outline: 0;
    border: none;
    font-size: 12px;
    color: #fff;
    line-height: 26px
}

.addknowledgecontent .layerwrap .pbottom .addbutn,.editknowledgecontent .layerwrap .pbottom .addbutn {
    background-color: #d9881f
}

.addknowledgecontent .layerwrap .pbottom .resetbtn,.editknowledgecontent .layerwrap .pbottom .resetbtn {
    background-color: #909098
}

.addknowledgecontent .layerwrap .selectlayer,.editknowledgecontent .layerwrap .selectlayer {
    padding: 10px 0
}

.addknowledgecontent .layerwrap .selectlayer .selectdiv,.editknowledgecontent .layerwrap .selectlayer .selectdiv {
    width: 240px;
    height: 35px;
    border: 1px solid #dce4eb;
    background-color: #f8fafc;
    float: left;
    margin: 8px 0 8px 15px
}

.addknowledgecontent .layerwrap .selectlayer .selectdiv select,.editknowledgecontent .layerwrap .selectlayer .selectdiv select {
    border: none;
    outline: 0;
    height: 30px;
    width: 235px
}

.addknowledgecontent .layerwrap .addsuccess,.editknowledgecontent .layerwrap .addsuccess {
    display: none;
    color: #f94b4b;
    font-size: 14px;
    padding: 10px 15px
}

.knowledgecontentmove {
    display: none;
    width: 538px;
    margin-left: -269px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px #ccc
}

.knowledgecontentmove .layer02top {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
    color: #333
}

.knowledgecontentmove .layer02top em {
    font-size: 16px;
    color: #333
}

.knowledgecontentmove .layerwrap .knowledgemove {
    padding: 30px 5px
}

.knowledgecontentmove .layerwrap .selectdiv {
    width: 240px;
    height: 35px;
    border: 1px solid #dce4eb;
    background-color: #f8fafc;
    float: left;
    margin: 8px 0 8px 15px
}

.knowledgecontentmove .layerwrap .selectdiv select {
    border: none;
    outline: 0;
    height: 30px;
    width: 235px
}

.knowledgecontentmove .layerwrap .pbottom {
    background-color: #f2f2f5;
    height: 50px;
    text-align: center
}

.knowledgecontentmove .layerwrap .pbottom a {
    display: inline-block;
    width: 60px;
    height: 26px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 12px 5px 0 0;
    outline: 0;
    border: none;
    font-size: 12px;
    color: #fff;
    line-height: 26px
}

.knowledgecontentmove .layerwrap .pbottom .addbutn {
    background-color: #d9881f
}

.knowledgecontentmove .layerwrap .pbottom .resetbtn {
    background-color: #909098
}

.knowledgecontentmove .layerwrap .addsuccess {
    display: none;
    color: #f94b4b;
    font-size: 14px;
    padding: 10px 15px
}

.simpleresult {
    min-height: 200px;
    padding: 40px;
    text-align: center
}

.simpleresult p span {
    color: #999;
    font-size: 14px;
    padding-top: 14px;
    display: inline-block;
    line-height: 1.8;
    padding-left: 15px
}

.simpleresult p span a {
    color: #159ede
}

.simpleresult p .fa {
    font-size: 88px;
    color: #eaeaea;
    vertical-align: middle
}

.releaselayer .layer02top,.releaselayer .layer02top em {
    font-size: 16px;
    color: #333
}

.releaselayer {
    display: none;
    width: 540px;
    margin-left: -270px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -ms-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc
}

.releaselayer .layer02top {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px
}

.releaselayer .layerwrap .shareinfors {
    text-align: centers
}

.releaselayer .layerwrap .shareinfors .successicon {
    text-align: center;
    padding: 25px 10px 5px
}

.releaselayer .layerwrap .shareinfors .successicon i {
    font-size: 75px;
    color: #91d63c
}

.releaselayer .layerwrap .shareinfors .successtext {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 15px 10px
}

.releaselayer .layerwrap .shareinfors .successtext a {
    color: #667a9b
}

.releaselayer .layerwrap .releaseinfor p {
    display: none
}

.releaselayer .layerwrap .releaseinfor .rightp {
    text-align: center;
    font-size: 12px;
    color: #4a883e;
    background-color: #eaf3e1;
    padding: 5px 20px;
    border: 1px solid #d2e6c8;
    vertical-align: bottom
}

.releaselayer .layerwrap .releaseinfor .rightp .fa {
    color: #6eaa00;
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle
}

.releaselayer .layerwrap .releaseinfor .errorp {
    text-align: center;
    font-size: 12px;
    color: #b74d46;
    background-color: #fff0f0;
    padding: 5px 20px;
    border: 1px solid #ffd2d2;
    vertical-align: bottom
}

.releaselayer .layerwrap .releaseinfor .errorp .fa {
    color: #dc3c00;
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle
}

.releaselayer .layerwrap .releasewrap {
    padding: 30px 20px
}

.releaselayer .layerwrap .releasewrap p {
    font-size: 14px;
    color: #666
}

.releaselayer .layerwrap .releasewrap p span {
    color: #333;
    display: inline-block;
    margin: 0 5px;
    font-weight: 700
}

.releaselayer .layerwrap .releasewrap .sharewrap {
    margin-top: 20px
}

.releaselayer .layerwrap .releasewrap .sharewrap label {
    color: #666;
    font-size: 14px;
    float: left;
    line-height: 30px
}

.releaselayer .layerwrap .releasewrap .sharewrap label em {
    color: #e94b4b;
    display: inline-block;
    margin-right: 5px
}

.releaselayer .layerwrap .releasewrap .sharewrap .selectbox {
    float: left
}

.releaselayer .layerwrap .releasewrap .sharewrap .sharediv {
    border: 1px solid #dce4eb;
    width: 180px;
    height: 30px;
    float: left;
    margin: 0 5px
}

.releaselayer .layerwrap .releasewrap .sharewrap .sharediv select {
    background: 0 0;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #667a9b;
    outline: 0
}

.releaselayer .layerwrap .releasewrap .textareabox {
    border: 1px solid #dce4eb;
    width: 489px;
    height: 89px;
    padding: 5px;
    margin-top: 20px
}

.releaselayer .layerwrap .releasewrap .textareabox textarea {
    border: none;
    width: 100%;
    height: 100%;
    outline: 0;
    resize: none;
    color: #bbb;
    font-size: 14px
}

.releaselayer .layerwrap .releasewrap .textareabox .lightgray {
    color: #666
}

.releaselayer .pbottom {
    background-color: #f2f2f5;
    height: 50px;
    text-align: center
}

.releaselayer .pbottom a {
    display: inline-block;
    width: 60px;
    height: 26px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 12px 5px 0 0;
    outline: 0;
    border: none;
    font-size: 12px;
    color: #fff;
    line-height: 26px
}

.releaselayer .pbottom .addbutn,.releaselayer .pbottom .seebtn {
    background-color: #d9881f
}

.releaselayer .pbottom .resetbtn {
    background-color: #909098
}

.releaselayer .pbottom .seebtn {
    width: 98px
}

.releaselayer .sharewraps {
    height: 230px;
    padding-top: 30px
}

.windowLayer {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: none
}

.closec {
    color: #666;
    font-size: 26px;
    float: right;
    font-weight: 700
}

.marklayer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    filter: alpha(Opacity=80);
    z-index: 8
}

.layercontent > .layerwrap > .inputs.path {
    font-size: 14px;
}

.list_drag_sort {
    display: none;
    border: 1px solid #cad1e0;
    -webkit-box-shadow: 0 0 4px 0 #b8c3d9;
    -moz-box-shadow: 0 0 4px 0 #b8c3d9;
    -o-box-shadow: 0 0 4px 0 #b8c3d9;
    -ms-box-shadow: 0 0 4px 0 #b8c3d9;
    box-shadow: 0 0 4px 0 #b8c3d9;
    width: 604px;
    margin-left: -302px
}

.list_drag_sort .drag_sort {
    height: 520px
}

.list_drag_sort .layercontent {
    height: 370px;
    overflow-y: auto
}

.list_drag_sort .layercontent .menuL {
    min-height: auto
}

.list_drag_sort .layer_foot {
    height: 70px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px 30px 0;
    text-align: right
}

.list_drag_sort .layer_foot .drag_sort_btn {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
    outline: 0;
    text-align: center;
    margin-left: 10px
}

.list_drag_sort .layer_foot .cancelbtn {
    background-color: #f3f5fa;
    color: #b8c3d9;
    width: 60px
}

.list_drag_sort .layer_foot .ok {
    background-color: #2092d9;
    color: #fff;
    width: 88px
}

.list_drag_sort .setborder {
    border: none;
    box-shadow: none
}

.list_drag_sort .layer02top {
    height: 80px;
    line-height: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box
}

.list_drag_sort .layer02top em {
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 700
}

.list_drag_sort .layer02top .closec {
    color: #666;
    font-size: 18px
}

.list_drag_sort .layer02top .drag_sort_describe {
    line-height: 30px;
    color: #4c5c7f;
    font-size: 14px
}

.list_drag_sort .pinfort {
    text-align: center;
    height: 29px;
    line-height: 29px
}

.list_drag_sort .pinfort span {
    font-size: 12px
}

.list_drag_sort .pinfort span .fa {
    font-size: 14px;
    margin-right: 5px
}

.list_drag_sort .successinfor {
    background-color: #eaf3e1;
    border: 1px solid #d2e6c8
}

.list_drag_sort .successinfor span {
    color: #4a883e
}

.list_drag_sort .successinfor span .fa {
    color: #6eaa00
}

.list_drag_sort .errorinfor {
    background-color: #fff0f0;
    border: 1px solid #ffd2d2
}

.list_drag_sort .errorinfor span {
    color: #b74d46
}

.list_drag_sort .errorinfor span .fa {
    color: #dc3c00
}

.list_drag_sort .layerwrap {
    padding: 20px;
    height: 340px
}

.list_drag_sort .layerwrap .tab {
    display: block
}

.list_drag_sort .layerwrap .tab a {
    font-size: 14px;
    color: #7c89a6;
    background-color: #f3f5f8;
    display: inline-block;
    line-height: 26px;
    height: 26px;
    text-align: center;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px
}

.list_drag_sort .layerwrap .tab .root {
    background-color: #159ede;
    color: #fff
}

.list_drag_sort .layerwrap .tabcontent {
    height: 230px
}

.list_drag_sort .layerwrap .tabcontent .noresult {
    font-size: 14px;
    color: #333;
    padding: 20px;
    text-align: center;
    min-height: 100px
}

.list_drag_sort .layerwrap .tabcontent .selectcheck {
    margin-top: 20px
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li {
    margin: 10px 0
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span {
    display: inline-block
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span .check {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #f3f5f8;
    border: 1px solid #d8dee6;
    vertical-align: middle;
    margin-right: 10px;
    padding: 2px
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span .check i {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #f3f5f8
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span .checkroot {
    border: 1px solid #159ede
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span .checkroot i {
    background-color: #159ede
}

.list_drag_sort .layerwrap .tabcontent .selectcheck li span em {
    font-size: 14px;
    color: #333
}

.list_drag_sort .layerwrap p.page {
    text-align: center
}

.list_drag_sort .layerwrap p.page a {
    display: inline-block;
    font-size: 14px;
    color: #7c89a6;
    margin: 0 10px
}

.list_drag_sort .layerwrap p.page .root {
    color: #159ede
}

.list_drag_sort .import_btns {
    background-color: #f2f2f5;
    height: 50px;
    line-height: 50px;
    text-align: center
}

.list_drag_sort .import_btns a {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    width: 68px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px
}

.list_drag_sort .import_btns .importbtn {
    background-color: #159ede
}

.list_drag_sort .import_btns .cancelbtn {
    background-color: #909098
}

/*个人图谱详情，内容字体颜色*/
.kn_list .listuls li .text a {
    color: #7C89A6;
}
.ernav .navs li .ahot:before{
    line-height: 10px;
}

.padress {
    width: 170%;
    cursor: default;
    margin-top: 10px;
    font-weight: normal;
}

#clip_button {
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    width: 85px;
    height: 20px;
}
.clip-msg {
    display: none;
    position: relative;
    bottom: 20px;
    font: 12px"Helvetica Neue",Sans-Serif!important;
    padding: 2px 4px!important;
    border-radius: 2px!important;
    width: auto!important;
    box-shadow: none!important;
    background: #FFE7C3!important;
    color: #FF7F0E!important;
    border: 1px solid#FFBE98!important;
}

.simplemyknowledgestruct .structWrap .contentR .sublistli li .opedits .listspan{
    width: 220px;
}

.treeboxnew .fa.iconfa {
    padding: 2px 10px 2px 4px;
}