ul, ol {
  list-style: none;
}
body {
  font-family: "Microsoft Yahei";
  background-color: #edf1f5;
}
.mainCol {
  width: 1170px;
  margin: 0 auto;
  min-height: 800px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.kn_left {
  float: left;
}
.kn_right {
  float: right;
}
a:hover {
  color: #666;
}
.csdn-toolbar {
  height: 40px;
  background: #f6f6f6 !important;
  border-bottom: 1px solid #dfdfdf;
}
.csdn-toolbar .container {
  width: 1140px;
}
.csdn-toolbar .loginlink {
  background: none !important;
}
.padding15px {
  padding: 0 15px;
}
.ernav {
  background-color: #333;
  width: 100%;
  height: 52px;
}
.ernav .logo {
  background: url("../../images/web/logo.png") no-repeat top center;
  width: 100px;
  height: 28px;
  float: left;
  margin-top: 12px;
}
.ernav .navs {
  float: left;
  height: 52px;
  margin-left: 10px;
}
.ernav .navs li {
  font-size: 16px;
  float: left;
}
.ernav .navs li .ahot {
  position: relative;
}
.ernav .navs li .ahot:before {
  content: "hot";
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  background-color: #ff5a00;
  font-size: xx-small;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  padding: 0 5px;
  animation: navNew 0.4s linear infinite;
  -moz-animation: navNew 0.4s linear infinite;
  -webkit-animation: navNew 0.4s linear infinite;
  -o-animation: navNew 0.4s linear infinite;
}
.ernav .navs li a {
  color: #eee;
  padding: 0 30px;
  line-height: 52px;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -ms-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
}
.ernav .navs li .my_knowledgewrap {
  position: relative;
  z-index: 10;
}
.ernav .navs li .curoot {
  color: #e49938;
}
.ernav .navs li .my_knowledge {
  position: relative;
  width: auto !important;
  margin-top: 0 !important;
}
.ernav .navs li .my_knowledge:hover {
  color: #e49938;
}
.ernav .navs li .my_knowledge i {
  position: absolute;
  width: 5px;
  height: 5px;
  display: block;
  background-color: #f94b4b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  top: 35%;
  right: 20px;
}
.ernav .navs li .my_knowledge .fa-angle-down {
  width: auto;
  height: auto;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  right: 14px;
  top: 40%;
}
.ernav .navs li .submenu {
  position: absolute;
  top: 52px;
  left: 22px;
  background-color: #1f1f1f;
  padding: 10px 15px 15px 15px;
  width: 101px;
  display: none;
}
.ernav .navs li .submenu:before {
  border: 5px solid #1f1f1f;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -10px;
  left: 45%;
  content: "";
  width: 0;
  height: 0;
}
.ernav .navs li .submenu li {
  padding: 5px 0;
  border-bottom: 1px solid #2e2e2e;
  float: none;
  width: 100%;
  text-align: center;
  position: relative;
}
.ernav .navs li .submenu li a {
  color: #fff;
  font-size: 14px;
  padding: 0;
  line-height: normal;
}
.ernav .navs li .submenu li a:hover {
  color: #e49938;
}
.ernav .navs li .submenu li a i {
  position: absolute;
  width: 5px;
  height: 5px;
  display: block;
  background-color: #f94b4b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: -3px;
}
.ernav .navs li .submenu .noborder {
  border: none;
}
.ernav .navs .most a em {
  margin-right: 6px;
}
.ernav .navs .most a .fa {
  vertical-align: middle;
  margin-top: -8px;
}
.ernav .listmenus {
  display: none;
  background-color: #212121;
  position: absolute;
  padding: 20px 5px 20px 5px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  z-index: 1000;
}
.ernav .listmenus ul {
  float: left;
  border-right: 1px solid #333;
  padding: 0 25px;
}
.ernav .listmenus ul li {
  padding-bottom: 15px;
}
.ernav .listmenus ul li a {
  color: #fff;
  padding: 0;
  font-size: 14px;
}
.ernav .listmenus ul .lastli {
  padding-bottom: 0;
}
.ernav .listmenus .lastul {
  border: none;
}
.ernav .allicons {
  float: right;
  height: 33px;
  margin-top: 9px;
  position: relative;
  width: 272px;
  z-index: 5;
}
.ernav .allicons .nav_search {
  width: 272px;
  height: 33px;
  background-color: #fff;
  padding: 0 0 0 10px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
}
.ernav .allicons .nav_search label {
  float: left;
  width: 230px;
  margin-bottom: 0;
}
.ernav .allicons .nav_search label input {
  width: 230px;
  height: 33px;
  border: none;
  outline: none;
  color: #333;
  font-size: 14px;
}
.ernav .allicons .nav_search label .gray {
  color: #bbb;
}
.ernav .allicons .nav_search .searchbtn {
  float: right;
  position: relative;
  margin-right: 5px;
  margin-top: 1px;
  width: 22px;
  height: 30px;
  text-align: center;
}
.ernav .allicons .nav_search .searchbtn input {
  background: rgba(255,0,0,0);
  border: none;
  outline: none;
  width: 22px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 5px;
}
.ernav .allicons .nav_search .searchbtn .fa-search {
  color: #ea9d38;
  font-size: 18px;
  margin-top: 6px;
  margin-right: 22px;
}
.ernav .allicons .nav_search .search_list {
  border: 1px solid #ddd;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 34px;
  z-index: 10000;
  width: 100%;
  display: none;
}
.ernav .allicons .nav_search .search_list .resultp {
  font-size: 14px;
  color: #333;
  padding: 0 20px;
  display: block;
}
.ernav .allicons .nav_search .search_list .resultp:hover {
  background-color: #eff3f5;
  color: #ea9d38;
}
.ernav .allicons .nav_search .search_list .resultp span {
  display: block;
  border-bottom: 1px dashed #ddd;
  padding: 5px 0;
  word-wrap: break-word;
  position: relative;
}
.ernav .allicons .nav_search .search_list .resultp span em {
  word-wrap: break-word;
  width: 185px;
  display: inline-block;
}
.ernav .allicons .nav_search .search_list .resultp span .fa {
  color: #bbb;
  font-size: 15px;
}
.ernav .allicons .nav_search .search_list .resultp span .fa-clock-o {
  margin-right: 10px;
  vertical-align: top;
  margin-top: 2px;
}
.ernav .allicons .nav_search .search_list .resultp span .fa-close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 7px;
}
.ernav .allicons .nav_search .search_list .hotsearch,
.ernav .allicons .nav_search .search_list .hotsearchall {
  color: #999;
  font-size: 12px;
  padding: 5px 20px;
  display: block;
}
.ernav .allicons .nav_search .search_list .hotsearch:hover,
.ernav .allicons .nav_search .search_list .hotsearchall:hover {
  background-color: #eff3f5;
  color: #ea9d38;
}
.ernav .allicons .nav_search .search_list .hotsearchall {
  display: none;
  word-wrap: break-word;
}
.ernav .allicons .nav_search .search_list .hotsearchall a {
  color: #999;
}
.ernav .allicons .nav_search .search_list .alltext {
  font-size: 12px;
  text-align: left;
  background-color: #f7f7f7;
  padding: 5px 20px;
  border-top: 1px solid #f7f7f7;
  margin-left: -3px;
  width: 272px;
  display: none;
}
.ernav .allicons .nav_search .search_list .alltext a {
  color: #333;
}
.ernav .allicons .nav_search .search_list .listkeys {
  margin-top: 5px;
  margin-bottom: 10px;
}
.ernav .allicons .nav_search .search_list .listkeys li a {
  color: #333;
  font-size: 14px;
  display: block;
  padding: 5px 20px;
  line-height: normal;
  word-wrap: break-word;
}
.ernav .allicons .nav_search .search_list .listkeys li a:hover {
  background-color: #eff3f5;
}
.ernav .allicons .nav_search .search_list .listkeys li a:hover .stext em {
  color: #ea9d38;
}
.ernav .allicons .nav_search .search_list .listkeys li a .simg {
  float: left;
  width: 40px;
}
.ernav .allicons .nav_search .search_list .listkeys li a .simg img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #eff3f5;
}
.ernav .allicons .nav_search .search_list .listkeys li a .stext {
  float: left;
  width: 175px;
  margin-left: 10px;
}
.ernav .allicons .nav_search .search_list .listkeys li a .stext em {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  display: block;
}
.ernav .allicons .nav_search .search_list .listkeys li a .stext b {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #999;
  display: block;
  margin-top: 5px;
}
.ernav .allicons .nav_search .search_list .listkeys li a .stext b i {
  font-style: normal;
  color: #333;
  font-weight: normal;
}
.ernav .allicons .nav_search .search_list .listkeys .tuwens {
  display: none;
}
.ernav .allicons .nav_search .search_list .listkeys .tuwens a {
  padding: 10px 20px;
}
.ernav .allicons .nav_search .search_list .searchku {
  display: none;
}
.ernav .allicons .nav_search .search_list .searchku .resultp,
.ernav .allicons .nav_search .search_list .searchku .hotsearch {
  font-size: 12px;
  color: #333;
}
.ernav .allicons .nav_search .search_list .searchku .resultp:hover,
.ernav .allicons .nav_search .search_list .searchku .hotsearch:hover {
  background-color: #eff3f5;
  color: #ea9d38;
}
.ernav .allicons .nav_search .search_list .searchdefault .resultp:hover {
  color: #333;
}
.ernav .allicons .nav_search .search_list .searchdefault .hotsearch:hover {
  background-color: #fff;
  color: #999;
}
.ernav .allicons .tj_btn {
  float: right;
  font-size: 14px;
  color: #fff;
  border: 1px solid #ea9d38;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-left: 20px;
  margin-top: 2px;
  display: none;
}
.ernav .allicons .tj_btn:hover {
  background-color: #ea9d38;
}
.csdn-toolbar .login-wrap .search {
  display: none !important;
}
@-webkit-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-moz-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-o-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-ms-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-moz-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-webkit-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@-o-keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
@keyframes navNew {
  0% {
    top: 10px;
  }
  50% {
    top: 11px;
  }
  100% {
    top: 10px;
  }
}
.banner_div {
  height: 132px;
  width: 100%;
  margin-bottom: 20px;
}
.banner_div .mainCol {
  min-height: inherit;
}
#alink {
  position: absolute;
  left: 0;
  top: 0;
  width: 1207px;
  height: 400px;
  background: #fff;
  opacity: 0;
  z-index: 4;
}
.windowLayer {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  z-index: 9999;
  display: none;
}
.closec {
  color: #666;
  font-size: 26px;
  float: right;
  font-weight: bold;
}
.marklayer {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  z-index: 8;
}
.whitebk {
  background-color: #fff;
}
.blank_50px {
  height: 50px;
  clear: both;
  font-size: 0;
  line-height: 0;
}
.blank_10px {
  height: 10px;
  clear: both;
  font-size: 0;
  line-height: 0;
}
.mainCol {
  position: relative;
}
.w860px {
  width: 860px;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.w270px {
  width: 270px;
}
.rightcontents {
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.whitebk {
  background: #fff;
}
.header_top {
  margin-bottom: 20px;
/*.top_search
    width 616px
    height 45px
    margin 28px auto 0 auto
    border 1px solid #99704b
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -o-border-radius 5px
    -ms-border-radius 5px
    border-radius 5px
    background-color #000000
    opacity 0.7
    .select_mn
      float left
      position relative
      width 123px
      text-align center
      line-height 40px
      a
        display inline-block
        height 30px
        line-height 30px
        padding 0px
        b
          font-size 14px
          color #fff
          vertical-align middle
          margin-left 10px
        .arrowup
          color #fff
      .downlist
        position absolute
        left 0
        top 43px
        border 1px solid #99704b
        width 100%
        text-align center
        background-color rgba(255,255,255,0.9)
        z-index 99
        li
          padding 5px 10px
          border-bottom 1px solid #cccccc
          a
            color #120802
            font-size 14px
    .search_input
      float left
      padding 6px 10px
      width 440px
      border-left 1px solid #99704b
      input[type="text"]
        background none
        border none
        height 30px
        line-height 30px
        width 427px
        outline none
        color #fff
        font-size 14px
    .search_btn
      float right
      padding 6px 10px
      width 50px
      height 43px
      border-left 1px solid #99704b
      background-color #442b0c
      position relative
      input[type="submit"]
        color #fff
        border none
        width 30px
        height 30px
        background none
        position absolute
        left 10px
        top 5px
        z-index 10
        outline none
      .fa
        font-size 20px
        color #fff
        position absolute
        left 16px
        top 10px
        */
}
.header_top .banner {
  background: url("../../images/web/newimgs/newbanner.jpg") no-repeat top center;
  height: 165px;
  background-size: cover;
  width: 100%;
}
.header_top .text {
  font-size: 26px;
  color: #fff;
  text-align: center;
  padding-top: 60px;
}
.header_top .centermiddle {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  height: 165px;
}
.header_top .linkbtn {
  display: block;
  width: 1140px;
  height: 165px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_top .numtext {
  color: #fff;
  text-align: center;
}
.header_top .numtext .text {
  display: block;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.header_top .numtext .num {
  background: url("../../images/web/newimgs/numberbj.png") no-repeat top center;
  display: inline-block;
  width: 38px;
  height: 40px;
  color: #333;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin: 0 1px;
}
.green {
  color: #15d31e;
  font-size: 12px;
  vertical-align: middle;
}
.ytj {
  color: #999;
  display: inline-block;
}
.htitle {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}
.htitle .normals {
  color: #999;
}
.htitle span {
  color: #666;
  font-size: 16px;
  float: left;
}
.htitle em {
  float: left;
  color: #999;
  display: inline-block;
  margin: 0 5px;
}
.htitle .cur {
  color: #159ede;
}
.tab {
  font-size: 16px;
  color: #999 !important;
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.kn_title {
  padding: 0 30px;
}
.kn_title .root {
  border-bottom: 2px solid #ea9d38 !important;
}
.rightop a {
  display: block;
  background-color: #159ede;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.rightop a span {
  background: url("../../images/web/newimgs/personal.gif") no-repeat left center;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 44px;
  text-indent: 35px;
}
.divpertop {
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.divpertop dd {
  text-align: center;
}
.divpertop dd img {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
.divpertop dt .title {
  display: block;
  margin-top: 10px;
}
.divpertop dt .title a {
  color: #333;
  font-size: 16px;
}
.divpertop dt .perinfor {
  margin-top: 5px;
  display: inline-block;
  background-color: #ea9d38;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 5px;
  margin-left: 10px;
}
.divpertop dt .perinfor em {
  font-size: xx-small;
  color: #fff;
  font-weight: normal;
}
.divpertop dt .wenhao {
  background: url("../../images/web/newimgs/wenhao.gif") no-repeat top center;
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: inherit;
}
.divpertop dt .process {
  height: 6px;
  width: 100%;
  background-color: #ececec;
  display: inline-block;
  position: relative;
  margin: 15px 0 10px 0;
}
.divpertop dt .process em {
  background-color: #ecac60;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.divpertop dt p {
  font-size: 12px;
  color: #bbb;
  font-weight: normal;
  line-height: normal;
  text-align: left;
}
.divpertop dt p em {
  color: #667a9b;
  display: inline-block;
  margin-right: 10px;
}
.divperbottom {
  padding: 20px 20px 20px 20px;
}
.divperbottom span {
  display: inline-block;
  border-left: 1px solid #ececec;
  font-size: 14px;
  color: #999;
  width: 33%;
  line-height: 1.2;
  text-align: center;
}
.divperbottom span em {
  font-size: 18px;
  display: block;
  color: #333;
}
.divperbottom .noborder {
  border: none;
}
.divlist04 .list04 {
  margin: 0 20px;
}
.divlist04 .list04 li {
  border-bottom: 1px dashed #eaeaea;
  padding: 20px 0;
}
.divlist04 .list04 li .l {
  float: left;
  width: 50px;
}
.divlist04 .list04 li .l img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.divlist04 .list04 li .r {
  float: left;
  margin-left: 15px;
  width: 160px;
}
.divlist04 .list04 li .r .title {
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
}
.divlist04 .list04 li .r .title:hover {
  color: #666;
}
.divlist04 .list04 li .r p {
  color: #bbb;
  font-size: 12px;
  margin-top: 10px;
}
.divlist04 .list04 li .r p em {
  color: #333;
}
.divlist04 .list04 .lastbtn {
  padding: 15px 0;
  border-bottom: none;
}
.divlist04 .list04 .lastbtn a {
  display: block;
  height: 44px;
  width: 230px;
  line-height: 44px;
  font-size: 14px;
  border: 1px solid #ea9d38;
  color: #ea9d38;
  text-align: center;
}
.divlist04 .list04 .lastbtn a .fa-plus-circle {
  color: #ea9d38;
  margin-right: 5px;
}
.emailcontent {
  padding: 20px;
}
.emailcontent p {
  font-size: 14px;
}
.emailcontent .toptext {
  color: #999;
}
.emailcontent .bottomtext {
  color: #bbb;
  margin-top: 15px;
}
.emailcontent .bottomtext b {
  font-weight: normal;
  color: #bbb;
}
.emailcontent .bottomtext .blue {
  color: #5295b2;
}
.emailcontent .bottomtext a {
  float: right;
  color: #159ede;
}
.emailcontent .bottomtext span {
  display: block;
}
.emailcontent .bottomtext span input {
  width: 176px;
  height: 30px;
  border: 1px solid #c6d4da;
}
.emailcontent .bottomtext span .baocun {
  display: inline-block;
  color: #fff;
  background-color: #159ede;
  width: 44px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
}
.errorinfor {
  color: #f94b4b !important;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
.rneWrapTop {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}
.rneWrapTop p {
  font-size: 12px;
  color: #666;
}
.rneWrapTop a {
  font-size: 14px;
  color: #fff;
  display: block;
  background-color: #ecac60;
  text-align: center;
  line-height: 34px;
  height: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.rneWrapTop a:hover {
  background-color: #d5964b;
}
.rneWrapTop a i {
  display: inline-block;
  margin-right: 5px;
}
.rneWrapBot {
  padding: 20px;
}
.rneWrapBot .ptotext {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}
.rneWrapBot .ptotext a {
  color: #159ede;
  display: inline-block;
  margin-left: 5px;
}
.rneWrapBot .ptotext a i {
  display: inline-block;
  margin-left: 5px;
}
.rneWrapBot .pbotext {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}
.rneWrapBot .downbtn {
  display: block;
  color: #fff;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #159ede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.rneWrapBot .downbtn:hover {
  background-color: #0786c2;
}
.rneWrapBot .downbtn i {
  display: inline-block;
  margin-right: 5px;
}
.tytext {
  text-align: left;
  margin-top: 8px;
}
.tytext a {
  color: #159ede;
  font-size: 12px;
}
.createdom {
  padding-bottom: 10px;
}
.createdoms {
  padding: 0 30px 40px 30px;
}
.createdoms .mapwrap {
  margin-top: 20px;
}
.createdoms .mapwrap .allwrap {
  position: relative;
  width: 100%;
}
.createdoms .mapwrap .allwrap .inputmap {
  float: right;
}
.createdoms .mapwrap .allwrap .editop {
  float: right;
  margin-left: 20px;
  margin-top: 5px;
  width: 43px;
}
.createdoms .mapwrap .allwrap .editop .aplus,
.createdoms .mapwrap .allwrap .editop .atrash {
  display: inline-block;
}
.createdoms .mapwrap .allwrap .editop .aplus .fa,
.createdoms .mapwrap .allwrap .editop .atrash .fa {
  font-size: 14px;
}
.createdoms .mapwrap .allwrap .editop .aplus .fa {
  color: #159ede;
}
.createdoms .mapwrap .allwrap .editop .atrash {
  margin-left: 20px;
}
.createdoms .mapwrap .allwrap .editop .atrash .fa {
  color: #e94b4b;
}
.createdoms .mapwrap .allwrap .editop .lastdom {
  margin-left: 0;
}
.createdoms .mapwrap label {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}
.createdoms .mapwrap .inputmap {
  height: 32px;
  border: 1px solid #dce4eb;
  background-color: #f8fafc;
  padding: 0 5px;
  width: 92%;
}
.createdoms .mapwrap .inputmap input {
  border: none;
  background-color: #f8fafc;
  height: 29px;
  outline: none;
  width: 100%;
  font-size: 14px;
}
.createdoms .mapwrap .mapdom {
  margin-left: 35px;
}
.createdoms .mapwrap .mapdom li {
  position: relative;
}
.createdoms .mapwrap .mapdom li .line {
  position: relative;
  top: 10px;
  height: 22px;
  display: inline-block;
  border-left: 1px solid #dce4eb;
}
.createdoms .mapwrap .mapdom li .line em {
  background-color: #dce4eb;
  display: inline-block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px;
}
.createdoms .mapwrap .mapdom li .divwrap {
  position: relative;
  bottom: 10px;
}
.createdoms .mapwrap .mapdom li .inputmap {
  width: 88% !important;
}
.createdoms .mapwrap .mapdom li .dompos {
  position: relative;
  left: 0;
}
.createdoms .createtext {
  margin-top: 10px;
}
.createdoms .createtext a {
  font-size: 14px;
  color: #159ede;
  display: inline-block;
  margin-top: 10px;
}
.createdoms .createtext .fa {
  display: inline-block;
  margin-right: 10px;
}
.submitdiv {
  padding: 30px 0 0 0;
}
.submitdiv a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0 10px;
}
.submitdiv .bc {
  background-color: #159ede;
}
.submitdiv .del {
  background-color: #909098;
  margin-left: 10px;
}
.deletemaplayer {
  display: none;
  width: 460px;
  margin-left: -230px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.deletemaplayer .layer02top {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
}
.deletemaplayer .layer02top em {
  font-size: 16px;
  color: #333;
}
.deletemaplayer .deletemapwrap {
  padding: 30px;
}
.deletemaplayer .deletemapwrap p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
.deletemaplayer .pbottom {
  background-color: #f2f2f5;
  height: 50px;
  text-align: center;
}
.deletemaplayer .pbottom a {
  display: inline-block;
  width: 60px;
  height: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 12px 5px 0 0;
  outline: none;
  border: none;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
}
.deletemaplayer .pbottom .delbutn {
  background-color: #e94b4b;
}
.deletemaplayer .pbottom .resetbtn {
  background-color: #909098;
}
.deletemaplayerall {
  display: none;
  width: 460px;
  margin-left: -230px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.deletemaplayerall .layer02top {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
}
.deletemaplayerall .layer02top em {
  font-size: 16px;
  color: #333;
}
.deletemaplayerall .deletemapwrap {
  padding: 30px;
}
.deletemaplayerall .deletemapwrap p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
.deletemaplayerall .pbottom {
  background-color: #f2f2f5;
  height: 50px;
  text-align: center;
}
.deletemaplayerall .pbottom a {
  display: inline-block;
  width: 60px;
  height: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 12px 5px 0 0;
  outline: none;
  border: none;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
}
.deletemaplayerall .pbottom .delbutn {
  background-color: #e94b4b;
}
.deletemaplayerall .pbottom .resetbtn {
  background-color: #909098;
}
.deletemaplayerall .pbottom .confrimbutn {
  background-color: #d9881f;
}
.deletemaplayersimple {
  display: none;
  width: 460px;
  margin-left: -230px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -o-box-shadow: 0px 1px 3px #ccc;
  -ms-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.deletemaplayersimple .layer02top {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
}
.deletemaplayersimple .layer02top em {
  font-size: 16px;
  color: #333;
}
.deletemaplayersimple .deletemapwrap {
  padding: 30px;
}
.deletemaplayersimple .deletemapwrap p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
.deletemaplayersimple .pbottom {
  background-color: #f2f2f5;
  height: 50px;
  text-align: center;
}
.deletemaplayersimple .pbottom a {
  display: inline-block;
  width: 60px;
  height: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 12px 5px 0 0;
  outline: none;
  border: none;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
}
.deletemaplayersimple .pbottom .delbutn {
  background-color: #e94b4b;
}
.deletemaplayersimple .pbottom .resetbtn {
  background-color: #909098;
}
.marklayer {
  z-index: 1000;
  top: 92px;
}
.knillustwrap {
  width: 720px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 15;
  margin-left: -360px;
  background-color: #fff;
  display: none;
}
.knillustwrap .knillcontent {
  padding: 30px;
}
.knillustwrap .knillcontent .stop {
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
.knillustwrap .knillcontent .stop em {
  font-size: 20px;
  color: #159ede;
}
.knillustwrap .knillcontent .stop .closed {
  color: #666;
  font-size: 22px;
  float: right;
  font-weight: bold;
}
.knillustwrap .knillcontent .knillnei p {
  font-size: 14px;
  color: #666;
  padding: 15px 0;
}
.knillustwrap .knillcontent .kntable table th,
.knillustwrap .knillcontent .kntable table td {
  font-size: 14px;
  color: #666;
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px 0;
}
.knillustwrap .knillcontent .kntable table th {
  background-color: #f3f6f8;
}
.structmarke {
  background-color: #000;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 92px;
  left: 0;
  display: none;
  z-index: 10;
}
.fixedyjfk {
  position: fixed;
  bottom: 100px;
  z-index: 9;
  width: 50px;
/*.fxd
      position relative
      z-index 2
      height 160px
    .fx
      background-position 0 0
      position absolute
      bottom 0
      &:hover
        background-position -64px 0*/
/*.wicon
      position absolute
      bottom 5px
      left 0
      z-index -1
      width 50px
      height 150px
      a
        position absolute
        left 0
        top 0
        z-index -1
      .wb
        background url("../../images/web/newimgs/wb.png") no-repeat top center
        top 105px
      .wx
        background url("../../images/web/newimgs/wx.png") no-repeat top center
        top 105px

    .moveshow
      transition bottom 300ms ease-out
      -webkit-transition bottom 300ms ease-out
      -moz-transition bottom 300ms ease-out
      -ms-transition bottom 300ms ease-out
      -o-transition bottom 300ms ease-out
    .fxd1
      &:hover
        .moveshow
          bottom 50px
          .wx
            top 94px
          .wb
            top 39px
        .fx
          background url("../../images/web/newimgs/fxh.gif") no-repeat top center !important
     */
}
.fixedyjfk a {
  background-image: url("../../images/web/newimgs/fixed.gif");
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}
.fixedyjfk .publicbtn {
  background-position: 0 -120px;
  position: relative;
  top: 5px;
}
.fixedyjfk .publicbtn .erweima {
  width: 176px;
  height: 177px;
  position: absolute;
  right: 56px;
  top: 2px;
  display: none;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8dadb;
  box-shadow: 2px 0 8px 0 #ccc;
}
.fixedyjfk .publicbtn .erweima:after {
  position: absolute;
  content: '.';
  border: 5px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  display: block;
  right: -10px;
  top: 20%;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.fixedyjfk .publicbtn .erweima:before {
  position: absolute;
  content: '';
  border: 5px solid #ccc;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  display: block;
  right: -11px;
  top: 20%;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.fixedyjfk .publicbtn .erweima .erweicontent {
  width: 156px;
  height: 156px;
  margin: 0 auto;
  border: 1px solid #f6f6f6;
  padding-top: 10px;
}
.fixedyjfk .publicbtn:hover {
  background-position: -64px -120px;
}
.fixedyjfk .zj {
  background-position: 0 -60px;
  position: relative;
  top: 10px;
}
.fixedyjfk .zj:hover {
  background-position: -64px -60px;
}
.fixedyjfk .yj {
  background-position: 0 -180px;
  position: relative;
  top: 15px;
}
.fixedyjfk .yj:hover {
  background-position: -64px -180px;
}
.fixedyjfk .zd {
  background-position: 0 -240px;
  position: absolute;
  top: 170px;
  z-index: 4;
  display: none;
}
.fixedyjfk .zd:hover {
  background-position: -64px -240px;
}
.hotlightIllustrations {
  background-color: #fff;
  width: 300px;
  position: fixed;
  height: 48px;
  padding: 0 30px;
  bottom: -72px;
  right: 0;
  z-index: 1500;
  display: none;
  border-left: 2px solid #91d63c;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.hotlightIllustrations .closed {
  font-size: 22px;
  color: #999;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 14px;
}
.hotlightIllustrations .knillcontent p {
  line-height: 45px;
}
.hotlightIllustrations .knillcontent p .fa-lights {
  background: url("../../images/web/newimgs/light.gif") no-repeat top center;
  display: inline-block;
  width: 22px;
  height: 27px;
  vertical-align: middle;
}
.hotlightIllustrations .knillcontent p .fa-check-circle {
  color: #91d63c;
  font-size: 18px;
  vertical-align: middle;
}
.hotlightIllustrations .knillcontent p em {
  vertical-align: middle;
  font-size: 16px;
  color: #666;
  display: inline-block;
  margin-left: 10px;
}
