.login {
    background-color: #364150!important;
}

.login .logo {
    margin: 60px auto 0;
    text-align: center;
}

.login .content {
    background-color: #fff;
    width: 340px;
    margin: 40px auto 10px;
    padding: 10px 30px 30px;
    position: relative;
}

.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px;
}

.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}
/*.login .content .forget-form, .login .content .register-form {  display: none;  }*/

.login .content .form-control {
    background-color: #dde3ec;
    padding: 2px 12px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    width: 310px;
}

.login .content .form-title {
    margin-bottom: 25px;
}

.login .content .control-label {display: none;}

.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
}

.login .content .form-actions .btn:hover {
    background-color: #32c5d2;
    color: #fff;
}

.login .content .check {
    color: #8290a3;
}

.login .content .rememberme {
    margin-left: 8px;
    display: none;
}

.btn-block {
    margin: 1px auto;
    display: block;
    width: 100%;
}

.login .content .create-account {
    margin: 0 -30px -30px;
    padding: 10px 0;
    text-align: center;
    background-color: #6c7a8d;
    border-radius: 0;
}

.login .content .create-account>p {
    margin: 0;
}